Django==5.1.2
django-filter==24.3
django_allauth==65.3.1
django_apscheduler==0.7.0
django_redis==5.4.0
sqlparse==0.5.1
tzdata==2024.2
django-modeltranslation==0.19.12
amqp==5.3.1
asgiref==3.8.1
billiard==4.2.1
celery==5.4.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
kombu==5.4.2
prompt_toolkit==3.0.48
python-dateutil==2.9.0.post0
redis==5.2.1
requests==2.32.3
six==1.17.0
tzlocal==5.2
urllib3==2.3.0
vine==5.1.0
wcwidth==0.2.13
