{% extends 'default.html' %}
{% load i18n %}

{% block title %}
{% trans "Подписки" %}
{% endblock title %}

{% block content %}
    {% for category in categories %}
        <p>
            {{ category.name }}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="category_id" value="{{ category.id }}" />

                {% if category.user_subscribed %}
                    <button disabled>{% trans "Подписаться" %}</button>
                    <button name="action" value="unsubscribe">{% trans "Отписаться" %}</button>
                {% else %}
                    <button name="action" value="subscribe">{% trans "Подписаться" %}</button>
                    <button disabled>{% trans "Отписаться" %}</button>
                {% endif %}
            </form>
        </p>
    {% endfor %}
{% endblock content %}